# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/

# =========================
# Virtual Environment
# =========================
venv/
.env/
.env.*

# =========================
# Airflow
# =========================
airflow.db
airflow.cfg
logs/
airflow-webserver.pid

# =========================
# Spark
# =========================
spark-warehouse/
metastore_db/
derby.log

# =========================
# Jupyter / IPython
# =========================
.ipynb_checkpoints/

# =========================
# OS / Editor
# =========================
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Docker
# =========================
*.tar
docker-data/

# =========================
# Secrets
# =========================
*.key
*.pem
